.App {
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.tweet {
  border: solid;
  border-width: thin;
  width: 50%;
}

p {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-flow: row nowrap;
}